<xf:title>{{ phrase('Edit Rule Section') }}</xf:title>

<xf:form action="{{ link('rules-sections/edit', $section) }}" class="block">
	<div class="block-container">
		<div class="block-body">
			<div class="js-forumTypes">
				<xf:textboxrow
					name="name"
					autofocus="autofocus"
					autocomplete="name"
					label="{{ phrase('Section Name') }}"
					required="required"
					value="{{ $section->name }}"
				/>

				<xf:numberboxrow
					name="order"
					label="{{ phrase('Section Order') }}"
					default="0"
					min="0"
					max="2000"
					step="1"
					value="{{ $section->order }}"
					required="required"
				/>
			</div>
		</div>
		<xf:submitrow submit="{{ phrase('save') }}" />
	</div>
</xf:form>
