<xf:title>{{ phrase('Rules') }}</xf:title>

<xf:pageaction>
	<div class="buttonGroup">
		<xf:button href="{{ link('rules/add') }}" icon="add" overlay="true"
			>{{ phrase('Add Rule') }}</xf:button
		>
	</div>
</xf:pageaction>

<xf:if is="$rules.count()">
	<div class="block">
		<div class="block-outer">
			<xf:macro
				template="filter_macros"
				name="quick_filter"
				arg-key="rules"
				arg-class="block-outer-opposite"
			/>
		</div>
		<div class="block-container">
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="$rules" value="$rule">
						<xf:set var="$rule_category" value="{$rule.RuleCategory}" />
						<xf:datarow>
							<xf:cell
								class="dataList-cell--link dataList-cell--main"
								hash="{$rule.id}"
							>
								<a href="{{ link('rules/edit', $rule) }}">
									<div class="u-depth1">
										<div class="dataList-mainRow">{$rule.body}</div>
										<div class="dataList-subRow">
											<strong>{{ phrase('Order: ') }} {$rule.order}</strong>
											|
											<strong
												>{{ phrase('Category: ') }}
												{$rule.RuleCategory.name}</strong
											>
										</div>
									</div>
								</a>
							</xf:cell>
							<xf:action
								class="{{ {$customPermissions.{$rule.id}} ? 'dataList-cell--highlighted' : '' }}"
								href="{{ link('rules/edit', $rule) }}"
							>
								{{ phrase('edit') }}
							</xf:action>
							<xf:delete href="{{ link('rules/delete', $rule) }}" />
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
			</div>
			<div class="block-footer">
				<span class="block-footer-counter"
					>{{ display_totals($rules.count()) }}</span
				>
			</div>
		</div>
	</div>
	<xf:else />
	<div class="blockMessage">{{ phrase('no_items_have_been_created_yet') }}</div>
</xf:if>
